body {
  margin: 0;
  /* background: #000; */
}
#root {
  width: 100vw;
  height: 100vh;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

.mapboxgl-marker {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

/* .marker {
  background-image: url('/images/lokasi-icon.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: relative !important;
} */


.container {
  border-radius: 8px !important;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.11) !important;
  background-color: #ffffff !important;
  width: 100% !important;
}

.form_container {
  padding: 0px;

  .row_name {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    width: 100%;
    .input_text {
      border-top: 1px solid transparent !important;
      border-bottom: 1px solid #dedede !important;
      width: 100% !important;
      border-left: 0px !important;
      border-right: 0px !important;
      font-size: 12px !important;
      font-style: italic !important;
      font-weight: lighter !important;
    }
  }
  .item_name {
    padding-right: 10px;
  }
  .close {
    float: right;
  }
  .description_title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .description_text {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid #dedede !important;
    border-left: 0px !important;
    border-right: 0px !important;
    font-size: 12px !important;
    font-style: italic !important;
    font-weight: lighter !important;
    height: 5em !important;
    min-height: 2em !important;
    margin-bottom: 12px;
  }
  .address_title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .address_text {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid #dedede !important;
    border-left: 0px !important;
    border-right: 0px !important;
    font-size: 12px !important;
    font-style: italic !important;
    font-weight: lighter !important;
    height: 5em !important;
    min-height: 2em !important;
  }

  /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
    height: 100%;
  }

}

// .mapboxgl-ctrl-top-left {
//   display: none !important;
// }

// .mapboxgl-ctrl-geocoder--input {
//   padding-left: 27px !important;
// }

.mapboxgl-ctrl-top-left {
  z-index: 999 !important;
  @media (max-width:450px) {
    top: 330px !important;
  }
  @media (min-width:450px) {
    top: 320px !important;
  }
  position: fixed !important;
  width: 100% !important;
}

.mapboxgl-ctrl-geocoder--input {
  //height: 36px !important;
  width: 100% !important;
  padding-left: 15px !important;

  border-top: 1px solid transparent !important;
    border-bottom: 1px solid #dedede !important;
    border-left: 0px !important;
    border-right: 0px !important;
    font-size: 12px !important;
    font-style: italic !important;
    font-weight: lighter !important;
    height: 5em !important;
    min-height: 2em !important;
    margin-bottom: 12px;

}

//@media screen and (min-width: 640px)
.mapboxgl-ctrl-geocoder {
  @media (max-width:450px) {
    width: 90% !important;
  }
  @media (min-width:450px) {
    width: 94% !important;
  }
  font-size: 15px !important;
  line-height: 20px !important;
  max-width: 100% !important;
  box-shadow: none !important;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 10px 0 0 20px !important;
  float: left !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none !important;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  display: none !important;
}

// .mapboxgl-ctrl-geocoder {
//   box-shadow: 0 !important;
// }

// .mapboxgl-ctrl-geocoder {
//   box-shadow: 0 !important;
// }

// .suggestions {
//   box-shadow: 0 !important;
// }

